h1 Collection list


a.btn.btn-primary.btn-lg.btn-block(ng-repeat='collection in collections[$stateParams.databaseName]', 
  href='#/servers/{{$stateParams.serverId}}/databases/{{$stateParams.databaseName}}/collections/{{collection.name}}') {{collection.name}}